<!DOCTYPE html>
<html>

<head>
    <title> Video Live Stream </title>
</head>

<body>
    <h1>Using Keras OCR Model:  {{ output }}</h1>
    {% if modelOutput %}
    <h2>Using Teachable Machine:  Model Denomination is {{ modelOutput }} with an accuracy of {{ modelAccuracy }}</h2>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} <input type="file" name="image" accept="image/*;capture=camera"> {% endcomment %}
         {{ form }} 
        <input type="submit" value="Upload">
    </form>

</body>

<script>
    var input = document.querySelector('input[type=file]'); // see Example 4
    var answer = document.querySelector('h1');

    const hello = new SpeechSynthesisUtterance("Using Teachable Machine:  Model Denomination is {{ modelOutput }} with an accuracy of {{ modelAccuracy }}")
      window.speechSynthesis.speak(hello) 
    
    var k = 0

    if (answer.value !== ""){
      const a = "Method 2:  {{ output }}";
      k = 1

      const utterance = new SpeechSynthesisUtterance(a)
      window.speechSynthesis.speak(utterance)
    
      {% comment %} const testing = new SpeechSynthesisUtterance("this is a test")
      window.speechSynthesis.speak(testing) {% endcomment %}
    }

    input.onchange = function() {
        var file = input.files[0];

        drawOnCanvas(file); // see Example 6
        displayAsImage(file);
        upload(file);
        // see Example 7
    };

    function upload(file) {
        var form = new FormData(),
            xhr = new XMLHttpRequest();

        form.append('image', file);
        xhr.open('post', window.location.href, true);
        xhr.send(form);
    }

    function drawOnCanvas(file) {
        var reader = new FileReader();
        reader.onload = function(e) {
            var dataURL = e.target.result,
                c = document.querySelector('canvas'), // see Example 4
                ctx = c.getContext('2d'),
                img = new Image();

            img.onload = function() {
                c.width = img.width;
                c.height = img.height;
                ctx.drawImage(img, 0, 0);
            };

            img.src = dataURL;
        };

        reader.readAsDataURL(file);
    }

    function displayAsImage(file) {
        var imgURL = URL.createObjectURL(file),
            img = document.createElement('img');

        img.style.width = "40vh"
        img.style.height = "auto"

        img.onload = function() {
            URL.revokeObjectURL(imgURL);
        };

        img.src = imgURL;
        document.body.appendChild(img);
    }

    {% comment %} answer.onload = function() {
      const a = "{{ output }}";

      const utterance = new SpeechSynthesisUtterance(a)
      window.speechSynthesis.speak(utterance)
    
      const testing = new SpeechSynthesisUtterance("this is a test")
      window.speechSynthesis.speak(testing)
  }; {% endcomment %}

    if(k === 0){
      if (answer.value !== ""){
        const a = "{{ output }}";
  
        const utterance = new SpeechSynthesisUtterance(a)
        window.speechSynthesis.speak(utterance)
      
        {% comment %} const testing = new SpeechSynthesisUtterance("this is a test")
        window.speechSynthesis.speak(testing) {% endcomment %}
      }
    };

    

</script>

</html>